h1 {
	font-size: 60px;
	text-align: center;
	margin-bottom: 15px;
	text-decoration: underline;
	background-color: black;
	color: white;
}

h2 {
	font-size: 40px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul {
	text-align: center;
	font-size: 35px;
	list-style-position: inside;
	border-style: solid;
	border-width: 5px;
}

p {
	text-align: center;
	font-size: 20px;
	font-weight: bold;

}